<div class="flex justify-center mt-6 gap-2">
    {% if page_obj.has_previous %}
        <a href="?page=1&q={{ recherche }}" class="btn btn-sm">««</a>
        <a href="?page={{ page_obj.previous_page_number }}&q={{ recherche }}" class="btn btn-sm">‹</a>
    {% endif %}

    <span class="btn btn-sm btn-primary">
        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&q={{ recherche }}" class="btn btn-sm">›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ recherche }}" class="btn btn-sm">»»</a>
    {% endif %}
</div>